<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja użytkownika</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center;
    margin-top: 30px;
    min-height: 100vh;
    background: linear-gradient(to bottom,#d6e4f0, #8cc4c6);">
<h1 style="align-content: center" th:text="${greetings}">Zarejestruj nowe konto!</h1>
<div style="
    display: flex;
    flex-direction:column;
    align-content: space-between;
    justify-content: center;
    color: #55be2c;

    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 10px 10px;
    box-shadow: 0px 10px 30px 3px #31313178;">
    <div style="display: flex; align-content: space-between">
        <form method="post">
            <p>
                <label>Nazwa użytkownika:
                    <input type="text" name="username"/>
                </label>
            </p>
            <p>
                <label>Imię:
                    <input type="text" name="firstName"/>
                </label>
            </p>
            <p>
                <label>Nazwisko:
                    <input type="text" name="lastName"/>
                </label>
            </p>
            <p>
                <label>Hasło:
                    <input type="password" name="password"/>
                </label>
            </p>
            <p>
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <button type="submit">Zarejestruj</button>
            </p>
        </form>
    </div>
</div>

</body>
</html>